<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></link>

    <style>
        #chat1 {
            max-height: 500px;
            min-height: 500px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column-reverse;
            border: 0.5px solid;
        }
    </style>
</head>
<body class="bg-dark">
    <div id="container" class="container bg-dark text-light mt-4">
            <h1 class="text-center">Chat with Socket.IO</h1>
            <div id="chat1">
                <div id="chat">

                </div>
            </div>
        <br>
        <input class="form-control" id="msg" type="text" placeholder="Digite sua mensagem...">
        <hr>
        <button id="btn" type="button" class="btn btn-primary btn-lg btn-block">Enviar</button>
        <br>
    </div>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>

    <script src="moment.min.js"></script>
    <script defer src="script.js"></script>

</body>
</html>
