<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chat with Socket.IO</h1>

    <div id="chat">

    </div>
    <br>
    <input id="msg" type="text">
    <input id="username" type="text" placeholder="Seu nome de usuário">
    <br>
    <button id="btn">Enviar</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js">
    
    const socket = io('http://localhost:80/')

        socket.on('disconnect',() => {
            console.log('Desconectado')
        })

        function enviarMsg() {
            let msgField = document.getElementById('msg')
            let usernameField = document.getElementById('username')

            let msg = msgField.value
            let username = usernameField.value

            socket.emit('msg', {msg: msg, username: username})
        }

        let btn = document.getElementById('btn')
        btn.addEventListener('click', enviarMsg)
        
    </script>

</body>
</html>
